@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --red: #e23a67;
  --light: #f0f1f3;
}
* {
  font-family: 'Roboto', sans-serif;
}
img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
* a {
  text-decoration: none !important;
}
.outline-none {
  outline: none;
}
.no-break {
  word-break: keep-all;
  white-space: nowrap;
}
.display-7 {
  font-size: 1.5rem;
}
.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}
.w-33 {
  width: 33%;
}
.w-55 {
  width: 65%;
}
.w-45 {
  width: 45%;
}
.h-60 {
  height: 60%;
}
.max-w-1 {
  max-width: 1rem;
}
.max-w-1-5 {
  max-width: 1.5rem;
}
.max-w-2 {
  max-width: 2rem;
}
.max-w-2-5 {
  max-width: 2.5rem;
}
.max-w-3 {
  max-width: 3rem;
}
.max-w-4 {
  max-width: 4rem;
}
.max-w-5 {
  max-width: 5rem;
}
.max-h-1 {
  max-height: 1rem;
}
.max-h-1-5 {
  max-height: 1.5rem;
}
.max-h-2 {
  max-height: 2rem;
}
.max-h-2-3 {
  max-height: 2.3rem;
}
.max-h-3 {
  max-height: 3rem;
}
.max-h-4 {
  max-height: 4rem;
}
.max-h-5 {
  max-height: 5rem;
}
.min-w-1 {
  min-width: 1rem;
}
.min-w-2 {
  min-width: 2rem;
}
.min-w-3 {
  min-width: 3rem;
}
.min-w-4 {
  min-width: 4rem;
}
.min-w-5 {
  min-width: 5rem;
}
.min-h-1 {
  min-height: 1rem;
}
.min-h-2 {
  min-height: 2rem;
}
.min-h-2-5 {
  min-height: 2.5rem;
}
.min-h-3 {
  min-height: 3rem;
}
.min-h-4 {
  min-height: 4rem;
}
.min-h-5 {
  min-height: 5rem;
}
.pointer {
  cursor: pointer;
}
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1 !important;
  line-clamp: 1 !important;
  word-break: break-all;
}
.two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  min-height: 3.1rem;
  word-break: break-all;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-4 {
  z-index: 4;
}
.z-index-off-1 {
  z-index: -1;
}
.z-index-off-2 {
  z-index: -2;
}
.z-index-off-3 {
  z-index: -3;
}
