.main-link {
  padding: 0.8rem 0;
  margin: 0 1rem;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
}
.main-link.top-active {
  border-bottom: 3px solid var(--red);
  font-weight: bold;
}
.left-nav,
.filter-panel {
  width: 57px;
  padding-bottom: 2rem;
  max-height: 85vh;
  min-height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease;
}
.filter-panel {
  width: 380px;
  max-height: 88vh;
  min-height: 88vh;
  right: -400px;
}
.left-nav::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.content {
  width: calc(100% - 57px);
  margin-left: auto;
  transition: all 0.3s ease;
}
.left-link {
  padding: 0.65rem 1rem;
  transition: all 0.5s ease;
  border-right: 3px solid transparent;
}
.left-link:hover {
  background: #fafafa;
}
.left-nav-icon {
  display: inline-block;
  min-width: 25px;
  margin-right: 16px;
}
.left-link.left-active {
  border-right: 3px solid var(--red);
}
.left-nav:hover {
  width: 220px;
}
.left-nav:hover ~ .content {
  width: calc(100% - 220px);
}
.detail-panel {
  background: rgba(0, 0, 0, 0.3);
  left: 101%;
  transition: all 0.3s ease;
}
.detail-panel img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.range-bar {
  height: 0.6rem;
}
.w-98 {
  width: 98%;
}
.w-96 {
  width: 96%;
}
.w-84 {
  width: 84%;
}
